body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.repositories {
    border: 1px solid green;
    border-radius: 5px;
}

.repositories div {
    display: flex;
    justify-content: space-between;
}

.autocomplete {
    box-sizing: border-box;
    margin-bottom: 15px;
}